nodered_data/.flows.json.backup
[
    {
        "id": "6ab7ac831dd8712b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "influxdbconfig1",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "my-bucket",
        "name": "Influx Docker",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "influxdbconfig",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "my-bucket",
        "name": "Influx Docker",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "mqtt-joystx-check",
        "type": "mqtt in",
        "z": "6ab7ac831dd8712b",
        "name": "gateway/joystick X",
        "topic": "gateway/joystick X",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "func-check-x"
            ]
        ]
    },
    {
        "id": "func-check-x",
        "type": "function",
        "z": "6ab7ac831dd8712b",
        "name": "check als waarde klopt",
        "func": "msg.payload = { value: Number(msg.payload) };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "influx-out-x-check"
            ]
        ]
    },
    {
        "id": "influx-out-x-check",
        "type": "influxdb out",
        "z": "6ab7ac831dd8712b",
        "influxdb": "influxdbconfig",
        "name": "influxDB dashboard",
        "measurement": "joyst_X",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "my-org",
        "bucket": "cloud",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "mqtt-joysty-check",
        "type": "mqtt in",
        "z": "6ab7ac831dd8712b",
        "name": "gateway/joystick Y",
        "topic": "gateway/joystick Y",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "func-check-y"
            ]
        ]
    },
    {
        "id": "func-check-y",
        "type": "function",
        "z": "6ab7ac831dd8712b",
        "name": "check als waarde klopt",
        "func": "msg.payload = { value: Number(msg.payload) };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 280,
        "wires": [
            [
                "influx-out-y-check"
            ]
        ]
    },
    {
        "id": "influx-out-y-check",
        "type": "influxdb out",
        "z": "6ab7ac831dd8712b",
        "influxdb": "influxdbconfig",
        "name": "influxDB dashboard",
        "measurement": "joyst_Y",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "my-org",
        "bucket": "cloud",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt-button",
        "type": "mqtt in",
        "z": "6ab7ac831dd8712b",
        "name": "gateway/button",
        "topic": "gateway/button",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "f5aa45fbcf2879ec"
            ]
        ]
    },
    {
        "id": "influx-out-button",
        "type": "influxdb out",
        "z": "6ab7ac831dd8712b",
        "influxdb": "influxdbconfig",
        "name": "influxDB dashboard",
        "measurement": "button_press",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "my-org",
        "bucket": "cloud",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "f5aa45fbcf2879ec",
        "type": "function",
        "z": "6ab7ac831dd8712b",
        "name": "button",
        "func": "msg.payload = { value: Number(msg.payload) };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "influx-out-button"
            ]
        ]
    }
]